<div class="SecondNavBarFixedCostum">
    <div class="row">
        <div class="col-4">
            <a href="">CHATS</a>
            <div class="divAlert"></div>
        </div>
        <div class="col-4">
            <a href="">ESTADOS</a>
            <div class="divAlert"></div>
        </div>
        <div class="col-4">
            <a href="">LLAMADAS</a>
            <div class="divAlert"></div>
        </div>
    </div>
</div>
@code {

}
