<div class="SecondNavBarFixedCostum">
    <div class="row">

            <div class="col-2 offset-1" >
                <a>
                    <img src="/img/camera.PNG" />
                </a>
                <div class="divAlertIcon"></div>
            </div>
            <div class="col-2">
                <NavLink href="">
                    <a>CHATS</a>
                    <div class="divAlert"></div> 
                </NavLink>
            </div>
            <div class="col-3">
                <NavLink href="estados">
                    <a>ESTADOS</a>
                    <div class="divAlert"></div>
                </NavLink>
            </div>
            <div class="col-3">
                <NavLink href="llamadas">
                    <a>LLAMADAS</a>
                    <div class="divAlert"></div>
                </NavLink>
            </div>
        </div>
    </div>
@code {

}
