<div class="SecondNavBarFixedCostum">
    <div class="row">

            <div class="col-2 offset-1" >
                <a href="">
                    <img src="/img/camera.PNG" />
                </a>
                <div class="divAlertIcon"></div>
            </div>
            <div class="col-2">
                <a href="">CHATS</a>
                <div class="divAlert"></div>
            </div>
            <div class="col-3" >
                <a href="">ESTADOS</a>
                <div class="divAlert"></div>
            </div>
            <div class="col-3">
                <a href="">LLAMADAS</a>
                <div class="divAlert"></div>
            </div>
        </div>
    </div>
@code {

}
