@inherits LayoutComponentBase
<div class="page">
    <PrincipalNavMenu />
    <ContentNavMenu/>
    <div class="MainContentContainer">
        <div class="MainContentChild">
            @Body
        </div>
    </div>
</div>
