@inherits LayoutComponentBase
@inject AppState AppState
@implements IDisposable

<div class="page">
    @if (!AppState.hideNavBars)
    {
        <PrincipalNavMenu />
        <ContentNavMenu />
    }
    <div class="MainContentContainer">
        @Body
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

}
