.NavBarFixedCostum {
    color: #86939c;
    Background: #1f2c34;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.NavBarFixedCostum a {
    float: left;
    display: block;
    color: #8c99a1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:18px;
}
.NavBarFixedCostum img {
    height: 28px;
    display: block;
    float: right;
    margin:10px;
}
.NavBarFixedCostum a:hover {
    color: #03a784;
}

.SecondNavBarFixedCostum {
    color: #86939c;
    Background: #1f2c34;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 55px;
    z-index:100;
}

.SecondNavBarFixedCostum a {
    display: block;
    color: #8c99a1;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
    .SecondNavBarFixedCostum img {
        height: 28px;
    }

.SecondNavBarFixedCostum div {

    padding: 0px;

}
.SecondNavBarFixedCostum a:hover ~ .divAlert {
    background: #03a784;
}
.SecondNavBarFixedCostum a:hover ~ .divAlertIcon {
    background: #03a784;
}
.divAlert {
    width: 100%;
    height: 5px;
    margin-top: 6px
}
.divAlertIcon {
    width: 100%;
    height: 5px;
}
.SecondNavBarFixedCostum a:hover {
    color: #03a784;
}
.SecondNavBarFixedCostum table {
    width: 100%;
}

.NavBarFixedChat {
    color: #e2e8ee;
    Background: #1f2c34;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-size: 13px;
}
.NavBarFixedChatContainer {
    margin-top: 5px;
    margin-bottom: 5px;
}
.NavBarFixedChat div {
    padding: 0px;
}
.ProfilePictureChat {
    border-radius: 50%;
    width: 37px;
    margin: 0px;
}

.NavBarFixedChat a{
    color: #e2e8ee;
    font-size: 11px;
}