@page "/chat"
<ChatNavMenu />
<div class="MainContentChildFullScreen">
    <h3>Chat</h3>
</div>

<div class="chatBar">
    &nbsp;
    <img src="/img/emojiIco.PNG" />
    <input type="text" placeholder="Mensaje">
    <img src="/img/attachIco.PNG" />
    <img src="/img/camera.PNG" />
</div>
<button type="button" class="btn landingButtonRecord"><img src="/img/recordIco.PNG" /></button>
