@page "/chat"
@inject AppState AppState
@inject NavigationManager NavManager
<div class="MainContentChildFullScreen">
    <h3>Chat</h3>
    <button type="button" class="btn landingButtonEdit" @onclick="() => ReturnIndex()"><img src="/img/edit.PNG" /></button>
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        AppState.hide(true);
    }
    public void ReturnIndex()
    {
        AppState.hide(false);
        NavManager.NavigateTo("/");
    }
}
