@page "/estados"

<div class="MainContentChild">
    <div class="row ShortCutChat ">
        <div class="col-3 ShortCutChatImgContainer">
            <img class="ProfilePicture" src="/img/pictures/principal.jpg" />
        </div>
        <div class="col-9" style="margin-top:5px">
            <div class="row">
                <div class="col-7 User">
                    Mi estado
                </div>
            </div>
            <div class="row">
                <div class="col-11 Message">
                    Añade una actualizacion
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-11 MessageReciente">
            Recientes
        </div>
    </div>
    <div class="row ShortCutChat ">
        <div class="col-3 ShortCutChatImgContainerStatus">
            <img class="ProfilePicture" src="/img/pictures/5.jpg" />
        </div>
        <div class="col-9" style="margin-top:5px">
            <div class="row">
                <div class="col-7 User">
                    Alejandro Bonilla
                </div>
            </div>
            <div class="row">
                <div class="col-11 Message">
                    Hoy 9:18am
                </div>
            </div>
        </div>
    </div>
    <div class="row ShortCutChat ">
        <div class="col-3 ShortCutChatImgContainerStatus">
            <img class="ProfilePicture" src="/img/pictures/2.jpg" />
        </div>
        <div class="col-9" style="margin-top:5px">
            <div class="row">
                <div class="col-7 User">
                    Estefan Panameño
                </div>
            </div>
            <div class="row">
                <div class="col-11 Message">
                    Hoy 6:21am
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn landingButtonEdit"><img src="/img/edit.PNG" /></button>
    <button type="button" class="btn landingButton"><img src="/img/cameraIco.PNG" /></button>
</div>
@code {

}
