@page "/estados"
@inject IEstadosData estadosData;
<div class="MainContentChild">
    <div class="row ShortCutChat ">
        <div class="col-3 ShortCutChatImgContainer">
            <img class="ProfilePicture" src="/img/pictures/principal.jpg" />
        </div>
        <div class="col-9" style="margin-top:5px">
            <div class="row">
                <div class="col-7 User">
                    Mi estado
                </div>
            </div>
            <div class="row">
                <div class="col-11 Message">
                    Añade una actualizacion
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-11 MessageReciente">
            Recientes
        </div>
    </div>
    @foreach (var estado in data)
    {
        <Estado Value=@estado />
    }
    <button type="button" class="btn landingButtonEdit"><img src="/img/edit.PNG" /></button>
    <button type="button" class="btn landingButton"><img src="/img/cameraIco.PNG" /></button>
</div>
@code {
    List<EstadoGeneralEntity> data = new List<EstadoGeneralEntity>();
    protected override async Task OnInitializedAsync()
    {
        data = await estadosData.Get();
    }
}
