@page "/"
@inject NavigationManager NavManager
@inject AppState AppState
<div class="MainContentChild">
    @foreach(var chat in data)
    {
        <ChatGeneral Value=@chat />
    }
</div>
<button type="button" class="btn landingButton"><img src="/img/newtext.PNG" /></button>

@code {
    List<ChatGeneralEntity> data = new List<ChatGeneralEntity>();
    protected override async Task OnInitializedAsync()
    {
        LoadLastConversations();
    }
    public void LoadLastConversations()
    {
        data = new List<ChatGeneralEntity>()
    {
            new ChatGeneralEntity()
            {
                ContactName="Jorge Argueta",
                LastUpdate = "9:12pm",
                LastMessage = "Gusto en saludarte",
                B64Photo = "/img/pictures/1.jpg",
                LastMessageWasFromTheUser = true,
                statusViewed = true
            },
            new ChatGeneralEntity()
            {
                ContactName="Estefan Panameño",
                LastUpdate = "7:34pm",
                LastMessage = "Me parece la idea",
                B64Photo = "/img/pictures/2.jpg",
                LastMessageWasFromTheUser = false,
                statusViewed = false
            },
            new ChatGeneralEntity()
            {
                ContactName="Angela",
                LastUpdate = "10:00am",
                LastMessage = "Gusto en saludarte",
                B64Photo = "/img/pictures/3.jpg",
                LastMessageWasFromTheUser = true,
                statusViewed = false
            },
            new ChatGeneralEntity()
            {
                ContactName="Francisca Desarrollador",
                LastUpdate = "01/10/2021",
                LastMessage = "Gusto en saludarte",
                B64Photo = "/img/pictures/4.jpg",
                LastMessageWasFromTheUser = false,
                statusViewed = false
            },
            new ChatGeneralEntity()
            {
                ContactName="Alejandro Bonilla",
                LastUpdate = "30/09/2021",
                LastMessage = "Gusto en saludarte",
                B64Photo = "/img/pictures/5.jpg",
                LastMessageWasFromTheUser = true,
                statusViewed = true
            },
        };

    }
    public void GoChat()
    {
        AppState.hide(false);
        NavManager.NavigateTo("/chat");
    }
}
