@page "/"
    <div class="MainContentChild">
        <div class="row ShortCutChat ">
            <div class="col-3 ShortCutChatImgContainer">
                <img class="ProfilePicture" src="/img/pictures/1.jpg" />
            </div>
            <div class="col-9" style="margin-top:5px">
                <div class="row">
                    <div class="col-7 User">
                        Jorge Argueta
                    </div>
                    <div class="col-4 dateMessage">
                        9:12pm
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 MessageStatusContainer">
                        <img src="/img/statusViewed.PNG" />
                    </div>
                    <div class="col-11 Message">
                        Gusto en saludarte
                    </div>
                </div>
            </div>
        </div> 
        <div class="row ShortCutChat ">
            <div class="col-3 ShortCutChatImgContainer">
                <img class="ProfilePicture" src="/img/pictures/2.jpg" />
            </div>
            <div class="col-9" style="margin-top:5px">
                <div class="row">
                    <div class="col-7 User">
                        Estefan Panameño
                    </div>
                    <div class="col-4 dateMessage">
                        7:34pm
                    </div>
                </div>
                <div class="row">
                    <div class="col-11 Message">
                        Me parece la idea
                    </div>
                </div>
            </div>
        </div>
        <div class="row ShortCutChat ">
            <div class="col-3 ShortCutChatImgContainer">
                <img class="ProfilePicture" src="/img/pictures/3.jpg" />
            </div>
            <div class="col-9" style="margin-top:5px">
                <div class="row">
                    <div class="col-7 User">
                        Angela
                    </div>
                    <div class="col-4 dateMessage">
                        10:00am
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 MessageStatusContainer">
                        <img src="/img/statusSent.PNG" />
                    </div>
                    <div class="col-11 Message">
                        Gusto en saludarte
                    </div>
                </div>
            </div>
        </div>
        <div class="row ShortCutChat ">
            <div class="col-3 ShortCutChatImgContainer">
                <img class="ProfilePicture" src="/img/pictures/4.jpg" />
            </div>
            <div class="col-9" style="margin-top:5px">
                <div class="row">
                    <div class="col-7 User">
                        Francisca Desarrollador
                    </div>
                    <div class="col-4 dateMessage">
                        01/10/2021
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 MessageStatusContainer">
                        <img src="/img/statusSent.PNG" />
                    </div>
                    <div class="col-11 Message">
                        Gusto en saludarte
                    </div>
                </div>
            </div>
        </div>
        <div class="row ShortCutChat ">
            <div class="col-3 ShortCutChatImgContainer">
                <img class="ProfilePicture" src="/img/pictures/5.jpg" />
            </div>
            <div class="col-9" style="margin-top:5px">
                <div class="row">
                    <div class="col-7 User">
                        Alejandro Bonilla
                    </div>
                    <div class="col-4 dateMessage">
                        30/09/2021
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 MessageStatusContainer">
                        <img src="/img/statusViewed.PNG" />
                    </div>
                    <div class="col-11 Message">
                        Gusto en saludarte
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn landingButton"><img src="/img/newtext.PNG" /></button>
    </div>

