@page "/"
@inject IChatsData chatData;
<div class="MainContentChild">
    @foreach(var chat in data)
    {
        <ChatGeneral Value=@chat />
    }
</div>
<button type="button" class="btn landingButton"><img src="/img/newtext.PNG" /></button>

@code {
    List<ChatGeneralEntity> data = new List<ChatGeneralEntity>();
    protected override async Task OnInitializedAsync()
    {
        data = await chatData.Get();
    }
}
