@page "/llamadas"
<div class="MainContentChild">
    <div class="row ShortCutChat ">
        <div class="col-3 ShortCutChatImgContainer">
            <img class="ProfilePicture" src="/img/pictures/5.jpg" />
        </div>
        <div class="col-7" style="margin-top:5px">
            <div class="row">
                <div class="col-7 User">
                    Alejandro Bonilla
                </div>
            </div>
            <div class="row">
                <div class="col-1 MessageStatusContainer">
                    <img src="/img/lostCall.PNG" />
                </div>
                <div class="col-9 Message">
                    29 de Septiembre 2021
                </div>
            </div>
        </div>
        <div class="col-2 PhoneCallContainer">
            <img src="/img/callIcon.PNG" />
        </div>
    </div>
    <div class="row ShortCutChat ">
        <div class="col-3 ShortCutChatImgContainer">
            <img class="ProfilePicture" src="/img/pictures/4.jpg" />
        </div>
        <div class="col-7" style="margin-top:5px">
            <div class="row">
                <div class="col-7 User">
                    Francisca Desarrollador
                </div>
            </div>
            <div class="row">
                <div class="col-1 MessageStatusContainer">
                    <img src="/img/succeedCall.PNG" />
                </div>
                <div class="col-9 Message">
                    28 de Septiembre 2021
                </div>
            </div>
        </div>
        <div class="col-2 PhoneCallContainer">
            <img src="/img/videoCall.PNG" />
        </div>
    </div>
    <div class="row ShortCutChat ">
        <div class="col-3 ShortCutChatImgContainer">
            <img class="ProfilePicture" src="/img/pictures/5.jpg" />
        </div>
        <div class="col-7" style="margin-top:5px">
            <div class="row">
                <div class="col-7 User">
                    Alejandro Bonilla
                </div>
            </div>
            <div class="row">
                <div class="col-1 MessageStatusContainer">
                    <img src="/img/succeedCall.PNG" />
                </div>
                <div class="col-9 Message">
                    27 de Septiembre 2021
                </div>
            </div>
        </div>
        <div class="col-2 PhoneCallContainer">
            <img src="/img/callIcon.PNG" />
        </div>
    </div>
    <button type="button" class="btn landingButton"><img src="/img/makeCallIcon.PNG" /></button>
</div>
@code {

}
