@page "/llamadas"
@inject ILlamadasData llamadasData;
<div class="MainContentChild">
    @foreach (var llamada in data)
    {
        <Llamada Value=@llamada />
    }
    <button type="button" class="btn landingButton"><img src="/img/makeCallIcon.PNG" /></button>
</div>
@code {
    List<LlamadaGeneralEntity> data = new List<LlamadaGeneralEntity>();
    protected override async Task OnInitializedAsync()
    {
        data = await llamadasData.Get();
    }
}
